@import '@doabit/semantic-ui-sass/src/scss/semantic-ui.scss';

.chatbox {
    height: 450px;
}

#messages {
    height: 15em;
    overflow: auto;
}

.input {
    button {
        display: none;
    }
}